.hero-form {
  display: flex;
  flex-direction: column;
}

.hero-form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;

  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .hero-form-title {
    line-height: 1.15;
  }
}
