.hero-label {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: var(--main-text-color);

  & + & {
    margin-top: 10px;
  }
}

.hero-check-label {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
}

.polisy-text {
  display: flex;
  align-items: center;
}

.icon-container {
  display: block;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .hero-check-label {
    font-size: 14px;
    line-height: 1.71;
  }
}
